{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>djangohesab</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="calc-container">
  <form class="calc">
    <p class="calc-display">
      <input type="text" name="res" id="res" value="" class="calc-display-input" onfocus="this.blur()">
    </p>
    <p class="calc-row">
      <button type="button" class="calc-button1 calc-button-gray" onclick="x()">←</button>
      <button type="button" class="calc-button calc-button-blue" onclick="sqrt()">√</button>
      <button type="button" class="calc-button calc-button-red calc-button-big" onclick="a('/')">÷</button>
    </p>
    <p class="calc-row">
      <button type="button" class="calc-button" onclick="a('7')">7</button>
      <button type="button" class="calc-button" onclick="a('8')">8</button>
      <button type="button" class="calc-button" onclick="a('9')">9</button>
      <button type="button" class="calc-button calc-button-red calc-button-big" onclick="a('*')">x</button>
    </p>
    <p class="calc-row">
      <button type="button" class="calc-button" onclick="a('4')">4</button>
      <button type="button" class="calc-button" onclick="a('5')">5</button>
      <button type="button" class="calc-button" onclick="a('6')">6</button>
      <button type="button" class="calc-button calc-button-red calc-button-big" onclick="a('-')">-</button>
    </p>
    <p class="calc-row">
      <button type="button" class="calc-button" onclick="a('1')">1</button>
      <button type="button" class="calc-button" onclick="a('2')">2</button>
      <button type="button" class="calc-button" onclick="a('3')">3</button>
      <button type="button" class="calc-button calc-button-red calc-button-big" onclick="a('+')">+</button>
    </p>
    <p class="calc-row">
      <button type="button" class="calc-button" onclick="a('0')">0</button>
      <button type="button" class="calc-button" onclick="a('.')">.</button>
      <button type="button" class="calc-button" onclick="s('')">C</button>
      <button type="button" class="calc-button calc-button-yellow calc-button-big" onclick="e()" id="equal">=</button>
    </p>
  </form>

  <div class="calc-history-container">
    <h2>تاریخچه محاسبات</h2>
    <div class="calc-history-box" id="calc-history"></div>
  </div>

  </div>

  <script src="{% static 'js/script.js' %}"></script>

</body>
</html>


